.about-linx {
  align-items: center;
  .about-logo {
    img {
      width: 157px;
      height: 94px;
      left: 102px;
      top: 1442px;
    }    
  }
  .about-description {
    p {
      text-align: center;
    }
  }

      
}